* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #121212;
  padding: 96px 16px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: '';
  position: absolute;
  filter: blur(40px);
  background-image:
    radial-gradient(
      #808080 10%,
      #7a7a7a 20% 30%,
      #373737 60%);
  border-radius: 50%;
  width: 100%;
  max-width: 420px;
  height: 40%;
  top: -10%;
  left: calc(50% - 210px);
  opacity: 0.2;
  pointer-events: none;
}

body::after {
  content: '';
  position: absolute;
  filter: blur(40px);
  background-image:
    radial-gradient(
      #808080 10%,
      #7a7a7a 20% 30%,
      #373737 60%);
  border-radius: 50%;
  width: 100%;
  max-width: 420px;
  height: 40%;
  top: -10%;
  left: calc(50% - 210px);
  opacity: 0.2;
  z-index: 1;
  pointer-events: none;
}

main {
  display: grid;
  grid-template-rows: auto auto;
}

.menu {
  position: relative;
  z-index: 1;
  list-style-type: none;
  display: grid;
  gap: 24px;
  grid-template-columns: 74px 74px 74px 74px;
  grid-template-rows: 74px 74px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.menu .item {
  position: relative;
  display: inline-block;
}

.menu .item button {
  border: none;
  background-color: transparent;
  position: relative;
  box-shadow:
    0 5px 8px 10px rgba(0, 0, 0, 0.5),
    0 0 0 6px #292929;
  -webkit-box-shadow:
    0 5px 8px 10px rgba(0, 0, 0, 0.5),
    0 0 0 6px #292929;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.menu .item button::before {
  content: '';
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 13px;
  transform: translateY(1px);
  background-color: #000000;
  pointer-events: none;
}

.menu .item button::after {
  content: '';
  position: absolute;
  width: 78px;
  height: 78px;
  border-radius: 13px;
  z-index: 1;
  background-image: linear-gradient(
    to top, 
    transparent 80%, 
    rgba(255, 255, 255, 0.15) 100%
  );
}

.menu .item button .background {
  width: 74px;
  height: 74px;
  position: absolute;
  pointer-events: none;
  filter: blur(4px);
}

.menu .item button .background .glow {
  background-image: linear-gradient(
    to bottom,
    transparent 80%,
    rgba(255, 255, 255, 0.15) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 12px;
}

.menu .item button .border {
  position: absolute;
  width: 74px;
  height: 74px;
  z-index: 1;
  padding: 1px;
  border-radius: 12px;
  background-image:
    linear-gradient(135deg, 
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    transparent,
    transparent,
    rgba(255, 255, 255, 0.35));
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
}

.menu .item button .logo-wrap {
  z-index: 0;
  width: 64px;
  height: 64px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 10px;
  filter: blur(0.3px);
  transition: filter 0.2s ease;
}

.menu .item button .logo-wrap .logo {
  width: 48px;
  height: auto;
  margin: 0 auto;
}

.menu .item button .logo-wrap img {
  width: 48px;
  height: auto;
  position: absolute;
  transform: translate(0, 6px);
  opacity: 0.05;
}

.menu .item button .logo-wrap.instagram {
  background-image:
    radial-gradient(
      circle farthest-corner at 28% 100%,
      #fcdf8f 0%,
      #fbd377 10%,
      #fa8e37 22%,
      #f73344 35%,
      transparent 65%),
    linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
}

.menu .item button .logo-wrap.x svg,
.menu .item button .logo-wrap.twitch svg {
  height: 36px;
  width: auto;
}

.menu .item button .logo-wrap.tiktok svg {
  height: 42px;
  width: auto;
}

.menu .item button .logo-wrap.x img,
.menu .item button .logo-wrap.twitch img {
  height: 36px;
  width: auto;
}

.menu .item button .logo-wrap.tiktok img {
  height: 42px;
  width: auto;
}

.display {
  max-width: 368px;
  width: 100%;
  margin: 40px auto 0 auto;
  position: relative;
}

.display::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #000000;
  pointer-events: none;
}

.display::after {
  content: '';
  background-image: linear-gradient(
    to top, 
    transparent 80%, 
    rgba(255, 255, 255, 0.15) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  border-radius: 4px;
  pointer-events: none;
}

.display .information-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #000000;
  box-shadow:
    0 0 0 1px #121212,
    0 0 0 2px #000000,
    inset 0 0 3px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:
    0 0 0 1px #121212,
    0 0 0 2px #000000,
    inset 0 0 3px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.display .information-list .information-item {
  filter: blur(0.3px);
}

.display .information-list .information-item .information-label {
  color: #ffffff;
  font-weight: 600;
  text-shadow:
    -0.5px -0.5px 0 rgba(0, 0, 0, 0.2),
    0.5px -0.5px 0 rgba(0, 0, 0, 0.2),
    -0.5px 0.5px 0 rgba(0, 0, 0, 0.2),
    0.5px 0.5px 0 rgba(0, 0, 0, 0.2),
    -0.5px -1px 0 rgba(0, 0, 0, 0.2),
    0.5px -1px 0 rgba(0, 0, 0, 0.2),
    -0.5px 1px 0 rgba(0, 0, 0, 0.2),
    -0.5px -1px 0 rgba(0, 0, 0, 0.2),
    1px 0.5px 0 rgba(0, 0, 0, 0.2),
    1px -0.5px 0 rgba(0, 0, 0, 0.2),
    -1px 0.5px 0 rgba(0, 0, 0, 0.2),
    -1px -0.5px 0 rgba(0, 0, 0, 0.2),
    1px 1px 0 rgba(0, 0, 0, 0.2),
    1px -1px 0 rgba(0, 0, 0, 0.2),
    -1px 1px 0 rgba(0, 0, 0, 0.2),
    -1px -1px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.75rem;
}

.display .information-list .information-item .information-value {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  margin-top: 4px;
}

.display .information-list .information-item .information-value svg {
  color: #ffffff;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1;
}

.display .information-list .information-item .information-value .information-value-content {
  flex-grow: 1;
  text-align: right;
}

.display .information-list .information-item .information-value .information-value-content .item-percentage {
  color: #ffffff;
  font-size: 1.25rem;
  text-shadow:
    -0.5px -0.5px 0 rgba(0, 0, 0, 0.2),
    0.5px -0.5px 0 rgba(0, 0, 0, 0.2),
    -0.5px 0.5px 0 rgba(0, 0, 0, 0.2),
    0.5px 0.5px 0 rgba(0, 0, 0, 0.2),
    -0.5px -1px 0 rgba(0, 0, 0, 0.2),
    0.5px -1px 0 rgba(0, 0, 0, 0.2),
    -0.5px 1px 0 rgba(0, 0, 0, 0.2),
    -0.5px -1px 0 rgba(0, 0, 0, 0.2),
    1px 0.5px 0 rgba(0, 0, 0, 0.2),
    1px -0.5px 0 rgba(0, 0, 0, 0.2),
    -1px 0.5px 0 rgba(0, 0, 0, 0.2),
    -1px -0.5px 0 rgba(0, 0, 0, 0.2),
    1px 1px 0 rgba(0, 0, 0, 0.2),
    1px -1px 0 rgba(0, 0, 0, 0.2),
    -1px 1px 0 rgba(0, 0, 0, 0.2),
    -1px -1px 0 rgba(0, 0, 0, 0.2);
}

.display .information-list .information-item .information-value .information-value-content .item-progress-bar {
  height: 4px;
  width: 100%;
  background-image: radial-gradient(#000000, #333333 90%);
  margin-top: 4px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.display .information-list .information-item .information-value .item-progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 3px 3px #000000;
  -webkit-box-shadow: 0 1px 3px 3px #000000;
}

.display .display-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  padding: 4px;
  filter: brightness(0.95) blur(0.3px);
  border-radius: 12px;
}

.display .display-glow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-shadow:
    0 0 64px 16px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow:
    0 0 64px 16px rgba(255, 255, 255, 0.1);
  pointer-events: none;
  border-radius: 4px;
}

.control-list {
  max-width: 368px;
  width: 100%;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.control-list .control-item {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 24px 6px #000000;
  -webkit-box-shadow: 0 0 24px 6px #000000;
}

.control-list .control-item::before {
  content: '';
  position: absolute;
  z-index: 1;
  background-image: conic-gradient(
    from 135deg at center center, 
    rgba(255, 255, 255, 0.1), 
    transparent,
    rgba(255, 255, 255, 0.1), 
    transparent,
    rgba(255, 255, 255, 0.1)
  );
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.control-list .control-item::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 50%;
  background-color: #333333;
  background-image: conic-gradient(
    from 135deg at center center, 
    rgba(255, 255, 255, 0.2), 
    transparent,
    rgba(255, 255, 255, 0.2), 
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent,
    rgba(255, 255, 255, 0.2), 
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent,
    rgba(255, 255, 255, 0.2)
  );
  outline: 1.5px dotted #0a0a0a;
}

.control-list .control-item svg {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
}

footer {
  max-width: 368px;
  margin: 64px auto 0 auto;
  gap: 16px;
  text-align: center;
}

footer h1 {
  font-family: 'Parisienne', cursive;
  color: #bdbdbd;
  font-size: 48px;
  filter: drop-shadow(0 0 4px #000000);
  background-image: linear-gradient(
    to bottom,
    #ffffff 10%,
    #555555 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

